.filter-menu {
    top: 100px;
    position: sticky;
    background-color: #f4f0fe;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
}

h4 {
    font-size: 18px;
}

.sort-bar {
    align-self: flex-start;
}