.cards {
    width: 100%;
}

.card {
    background-color: #828282;
    margin-top: 15px;
}

.card-category {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.card-text {
    color: #828282;
}

.card-title {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    color: #684c96;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apply-button {
    margin-left: auto;
    margin-right: 15px;
    background-color: #795fad;
    border: solid 1px;
    border-radius: 10%;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
}