
.App {
  text-align: center;
}

.app-body * {
  box-sizing: border-box;
  /* border: solid 2px black; */
}

.app-body {
  display: flex;
  flex-direction: column;
}

Nav {
  top: 0;
  position: sticky;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
}

.sort{
  display: flex;
  justify-content: flex-end;
}

.sortbar{
  position: fixed;
}

.filters-and-jobs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}


.cardslist{
  width: 80%;
  justify-content: right;
  z-index: 99;
  margin-left: 20%;
}

.filterslist{
  justify-content: left;
  position: fixed;
  z-index: 99;
}


.topbar{
  position: fixed;
  z-index: 1000;
}