.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  width: 80%;
  
}

.card {
  background-color: #828282;
  margin-top: 15px;
}

.card-text {
  color: #828282;
}

.card-title {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  color: #684c96;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apply-button{
  margin-right: 10px;
}

.filters {
  width: 20%;
}

/* nav{
  border-bottom: 1px solid black;
} */

.nav {
  display: flex;
  justify-content: center;
}

.nav-title{
  transition: color 0.5s ease-in;
  color: #4F4851;
  font-weight: bold;
  font-size: 3em;
}

.nav-title > span.nav-title-nu{
  transition: inherit;
}

.nav-title:hover{
  color:black;
}


.nav-title:hover > span.nav-title-nu {
  color:#684c96;
}


.filter-menu {
  padding-top: 15px;
}