.App {
  text-align: center;
}

.card {
  margin: 10px;
  background-color: #828282;
}
.card-text {
  color: #828282;
}

.card-title {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  color: #684c96;
}
